.password-input-container {
    width: inherit;

    label {
        display: block;
        margin-bottom: 6px;
        margin-top: 15px;
        color: #333;
    }

    .wrapper {
        width: inherit;
        position: relative;

        input {
            width: inherit;
            padding: 10px 12px;
            border: 1.5px solid #999;
            border-radius: 8px;
            font-size: 1rem;
        }
    
        span {
            img {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
    }
}