<div class="password-input-container">
    <label [for]="id()">{{ label() }}</label>
    <div class="wrapper">
        <input
            [type]="showPassword ? 'text' : 'password'"
            [id]="id()"
            [placeholder]="placeholder()" />
        <span>
            <img
                [src]="showPassword ? '/images/closed_eye.svg' : '/images/open_eye.svg'"
                alt="toggle"
                class="eye-img"
                (click)="togglePasswordVisibility()" />
        </span>
    </div>
</div>