@import '../../styles/mixins';

.password-input-container {
    width: inherit;

    label {
        @include auth-label;
    }

    .wrapper {
        width: inherit;
        position: relative;

        input {
            @include auth-input;
        }
    
        span {
            img {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
    }
}