button {
    background-color: #8ac8c9;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    padding: 12px 24px;

    &:hover {
        background-color: #7cbec0;
    }
}