<footer class="footer-container">
    <div class="socials">
        <a><img
            width="28" height="28"
            src="/images/socials/instagram.svg"/></a>
        <a><img
            width="32" height="24"
            src="/images/socials/youtube.svg"/></a>
        <a><img
            width="26" height="26"
            src="/images/socials/facebook.svg"/></a>
    </div>

    <hr />

    <div class="footer-content">
        <ul class="footer-links">
            <li><a>Polityka prywatności</a></li>
            <li><a>O nas</a></li>
            <li><a>Regulamin</a></li>
            <li><a>FAQ</a></li>
        </ul>
        <hr />
        <div class="copyright">
            <p>Bazar.io © 2025 Wszelkie prawa zastrzeżone</p>
        </div>
    </div>
</footer>