.ad-element-container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding-bottom: 12px;

    .image-container {
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 8px 8px 0px 0px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    > p {
        padding: 0px 8px;
        overflow: hidden;
        word-break: break-all;
    }

    .description {
        font-size: 18px;
        font-weight: 400;
        color: #443C3C;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-break: break-word;
        max-height: calc(23px * 2);
    }

    .price {
        font-size: 18px;
        font-weight: 600;
        color: #443C3C;
        max-height: 20px;
    }

    .refreshed {
        font-size: 14px;
        font-weight: 400;
        color: #D0C0C0;
        max-height: 16px;
    }
}

@media (max-width: 1252px) {
    .ad-element-container {
        .description {
            font-size: 16px;
        }

        .price {
            font-size: 16px;
        }

        .refreshed {
            font-size: 12px;
        }
    }
}

@media (max-width: 1092px) {
    .ad-element-container {
        .description {
            font-size: 14px;
        }

        .price {
            font-size: 14px;
        }

        .refreshed {
            font-size: 10px;
        }
    }
}

@media (max-width: 700px) {
    .ad-element-container {
        .description {
            font-size: 12px;
            -webkit-line-clamp: 3;
            max-height: calc(17px * 3);
        }

        .price {
            font-size: 12px;
        }

        .refreshed {
            font-size: 8px;
        }
    }
}